.navigation-item-title {
    font-weight: 500;
    font-size: 20px;
    color: #0556a7;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .navigation-item-description {
    color: gray;
    font-size: 12px;
  }
  
  .horizontal-line {
    width: 100%;
    opacity: 0.1;
  }