.feedback-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  background-color: #0556a7;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 0 5px 5px 0 ;
  font-size: 18px;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
